{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}FitTrack Admin Dashboard{% endblock %}

{% block main %}
    <div class="container">
        <h1>🏋️ Bienvenue sur FitTrack Admin</h1>

    </div>
{% endblock %}
